.header {
  text-align: center;
}

.header h2{
  margin-bottom: 1.5em;
}

.big-link {
  text-align: center;
  font-size: 3em;
  border-radius: 2em;
  background-color: #2FA1EE;
  color: white;
  padding: .2em;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  display: block;
  text-rendering: optimizeLegibility;
  margin: 0.5em 0 0.5rem 0;
  text-transform: uppercase;
}

.medium-link {
  font-size: 1.6em;
  border-radius: 1em;
  text-align: center;
  display: block;
  color: rgba(0,0,0,.6);
  font-weight: normal;
  padding: .14em;
  font-family: Montserrat, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 1.5em 0 0.3rem 0;
}

.install {
  text-align: center
}

pre.bookmarklet {
  word-wrap: break-word;
}

.header img {
  margin-bottom: 1.6em;
}

.faq {
  margin-bottom: 2em;
}

.faq p:nth-child(1) {
  font-size: 1.2em;
}

@media (min-width: 32rem) {
  .header img {
      margin-bottom: 2em
  }
}
