<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>

  <meta property="og:image" content="http://www.squirt.io/images/logo.png"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{{ page.subtitle }}"/>
  <link rel="shortcut icon" href="images/favicon.png">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
  <link rel="stylesheet" href="css/io.css">

  <!-- SQBM --><script>window.squirtBookmarklet = "javascript:(function(){if(window.sq){window.sq.closed&&window.document.dispatchEvent(new Event('squirt.again'));}else{window.sq={};window.sq.userId='--squirtUser--';s=document.createElement('script');s.src='http://www.squirt.io/bm/squirt.js';s.s=window.location.search;s.idx=s.s.indexOf('sq-dev');if(s.idx!=-1){s.ampIdx=s.s.indexOf('&',s.idx);s.host=s.s.substring(s.idx+7,s.ampIdx==-1?s.s.length:s.ampIdx);s.src='http://'+(s.host?s.host:'localhost')+':4000/bm/squirt.js';}document.body.appendChild(s);}})();"</script><!-- SQBM -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</head>
<body>
  <div class="container {{ page.title }}">
    <div class="header">
      <img src='/images/logo.png'/>
      <h1><a href="./">{{ page.title }}</a></h1>
      <h2>{{ page.subtitle }}</h2>
    </div>
    {{ content }}
  </div>
  <script src="js/io.js"></script>
</body>
</html>
